.Header{
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerleft, .headerright {
    display: flex;
    align-items: center;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user_avatar {
    font-size: 2rem;
}